
.home-banner{
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: var(--white);

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, var(--secondary-color) 30%, #ffffff45 100%);
        z-index: -1;
        opacity: .85;
    }

    h4{
        color: var(--yellow);
    }

    h1{
        max-width: 500px;
        font-size: 45px;
        font-weight: bolder;

        span{
            color: var(--yellow);
        }
    }

    p{
        max-width: 500px;
        margin: 20px 0;
    }

    .btn-primary{
        background-color: var(--yellow);

        &:hover{
            background-color: var(--white);
            color: var(--secondary-color);
        }
    }

    .btn-transparent{
        &:hover{
            color: var(--yellow);
        }
    }

}